#css-image {
    border: 4px solid green;
}

[alt="JavaScript-framework"] {
    border: 4px solid hotpink;
}

p b {
    /* display: none; another way to hide */
    /* visibility: hidden; */
/*     
    opacity: 0; 
    pointer-events: none; along with both are similar as visibility: hidden */
}

[procodrr="akash"] {
    color: orangered;
}
/* 
#heading {
    color: coral;
} */






























































































































































































































































































































































































































































































































